@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Cookie&family=Lobster&display=swap&family=Roboto:wght@300;400;700&display=swap&family=Fira+Mono:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  margin: 0 auto;
}

.blog_image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 40px;
}
.content {
  
  text-align: center;
}
.title_blog {
  font-size: 48px;
  font-family: "Lobster", cursive;
  margin-bottom: 40px;
}
.body_blog {
  margin: 0px 200px;
  text-align: justify;
}
p, h4 {
  font-size: 24px;
  margin-bottom: 20px;
}
li {
  font-weight: bold;
  font-size: 24px;
}
li p {
  font-weight: normal;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  background-color: black;
  padding: 20px;
}
.copyright {
  margin: 0;
  color: white;
}

@media screen and (max-width: 950px) {
  .body_blog {
    margin: 0px 100px;
  }
}